img{
    height: 150px;
    width: 150px;
    object-fit: cover !important;
    border-radius: 50% !important;
    border: 1px solid #6c757d;
    /* text-align: center !important; */
}
.actorInfo{
    text-align: left !important;
}
.actorInfo p{
    margin-bottom: 2px !important;
}
.infoTitle{
    font-weight: bold;
    font-size: 17px;
}
.social-link a{
    font-size: 30px;
    color: #6c757d !important;
}
/* .actor-card{
    background-color: rgba(255, 255, 255, 0.068);
    color: white !important;
} */